/*# sourceURL=_portal-variables.scss */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.pns-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 14rem 1fr;
  -ms-grid-rows: 4.26rem 1fr;
  grid-template-columns: 14rem 1fr;
  grid-template-rows: 4.26rem 1fr;
  grid-template-areas: "topbar topbar" "sidebar content";
  height: 100vh; }

.pns-grid-topbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: topbar;
  -ms-grid-columns: 14rem 1fr 2.75rem 15rem;
  -ms-grid-rows: 1fr;
  grid-template-columns: 14rem 1fr 2.75rem 15rem;
  grid-template-rows: 100%;
  grid-template-areas: "logo search alert account";
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0px 0px 10px #dbdbdb;
  z-index: 100; }
  .pns-grid-topbar > * {
    margin: 0 0.25rem; }
  .pns-grid-topbar > div:first-child {
    margin-left: 0.5rem; }
  .pns-grid-topbar > div:last-child {
    margin-right: 1rem; }
  .pns-grid-topbar #logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    margin-right: 20px;
    background: url("/img/PNS-portal-logo-blue.svg") center left no-repeat; }
  .pns-grid-topbar #alert {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: search;
    margin-left: 0px;
    line-height: 2;
    border-radius: 0.25rem;
    background: #f5e9a8;
    border: 1px solid #caad19; }
  .pns-grid-topbar #notification {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: alert;
    border-radius: 0.25rem;
    line-height: 2rem;
    border: 1px solid #c9c9c9;
    color: #c9c9c9; }
  .pns-grid-topbar #account {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: account;
    -ms-grid-columns: 2.25rem 1fr;
    -ms-grid-rows: 1fr;
    grid-template-columns: 2.25rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "account-label account-name";
    border: 1px solid #c9c9c9;
    border-radius: 0.25rem;
    overflow: hidden; }
    .pns-grid-topbar #account #label {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
      grid-area: account-label;
      line-height: 2rem;
      background: #c9c9c9;
      color: white; }
    .pns-grid-topbar #account #name {
      position: relative;
      -ms-grid-column: 2;
      -ms-grid-row: 1;
      grid-area: account-name;
      padding: 0 0.5rem;
      line-height: 2.125rem;
      overflow: hidden;
      color: #3391f2; }
    .pns-grid-topbar #account #name::after {
      display: block;
      content: '';
      width: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 80%); }

.pns-grid-sidebar {
  display: -ms-grid;
  display: grid;
  grid-area: sidebar;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr 3rem;
  grid-template-columns: 1;
  grid-template-rows: 1fr 3rem;
  grid-template-areas: "nav" "legal";
  min-height: 0;
  padding-top: 1rem;
  background: white;
  border-right: 1px solid #dbdbdb; }

.pns-sidebar-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  overflow: hidden; }
  .pns-sidebar-nav:hover {
    overflow-y: auto; }
  .pns-sidebar-nav .entry {
    margin-top: 0.25rem;
    padding-left: 0.9rem;
    width: 12.5rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    transition: background 0.15s ease-in-out; }
    .pns-sidebar-nav .entry:first-child {
      margin-top: 0; }
    .pns-sidebar-nav .entry:hover {
      color: #0f5b62;
      background-color: #dbdbdb; }
    .pns-sidebar-nav .entry.active {
      background: #b2e8ed;
      background-image: none; }
      .pns-sidebar-nav .entry.active:hover {
        background-color: #b2e8ed; }
    .pns-sidebar-nav .entry a {
      display: block;
      padding: 0.4375rem;
      text-align: left;
      text-decoration: none !important;
      color: #136f78;
      width: 100%; }
      .pns-sidebar-nav .entry a > .fa {
        margin-right: 0.5rem; }

.pns-sidebar-legal {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: legal; }

.pns-grid-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 3rem 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr;
  grid-template-areas: "titlebar" "content";
  padding: 1rem 1rem;
  text-align: left;
  background: white; }

.pns-content-titlebar {
  justify-content: space-between;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titlebar;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 1rem;
  text-align: left; }
  .pns-content-titlebar h1 {
    align-self: flex-start;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0; }
  .pns-content-titlebar a#tutorial {
    align-self: flex-start;
    /* height: 1rem; */
    font-size: 0.7rem;
    letter-spacing: 0.1ch;
    /* margin-left: 1rem; */
    padding: 0.1rem 0.2rem;
    /* padding: 0.1rem 0.2rem; */ }

.pns-content-body {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content; }
