.pns-grid-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: $portal-module-header-height 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: $portal-module-header-height 1fr;
    grid-template-areas:"titlebar"
                        "content";
    padding: 1rem 1rem;
    text-align: left;
    background: white;
  }
  
  .pns-content-titlebar {
    justify-content: space-between;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: titlebar;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 1rem;
    text-align: left;

    h1 {
      align-self: flex-start;
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin: 0;
      padding: 0;
    }

    a#tutorial {
      align-self: flex-start;
      /* height: 1rem; */
      font-size: 0.7rem;
      letter-spacing: 0.1ch;
      /* margin-left: 1rem; */
      padding: 0.1rem 0.2rem;
      /* padding: 0.1rem 0.2rem; */
    }

  }

  .pns-content-body {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: content;
  }