@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-size: $portal-font-base;
  line-height: $portal-line-height;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pns-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: $portal-sidebar-width 1fr;
  -ms-grid-rows: $portal-topbar-height 1fr;
  grid-template-columns: $portal-sidebar-width 1fr;
  grid-template-rows: $portal-topbar-height 1fr;
  grid-template-areas:    "topbar topbar"
                          "sidebar content";
  height: 100vh;
}