.pns-grid-sidebar {
    display: -ms-grid;
    display: grid;
    grid-area: sidebar;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 3rem;
    grid-template-columns: 1;
    grid-template-rows: 1fr 3rem;
    grid-template-areas:  "nav"
                          "legal";
    min-height: 0;
    padding-top: 1rem;
    background: white;
    border-right: 1px solid #dbdbdb;
  }

  .pns-sidebar-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav;
    overflow: hidden;

    &:hover {
      overflow-y: auto;
    }

    .entry {
      margin-top: 0.25rem;
      padding-left: 0.9rem;
      width: $portal-sidebar-width - 1.5;
      border-top-right-radius: $portal-border-radius-lg;
      border-bottom-right-radius: $portal-border-radius-lg;
      transition: background 0.15s ease-in-out;

      &:first-child { margin-top: 0; }

      &:hover {
        color: #0f5b62;
        background-color: $portal-gray-4;
      }

      &.active {
        background: $portal-blue-light;
        background-image: none;
        &:hover {
          background-color: $portal-blue-light;
        }
      }

      a {

        display: block;
        padding: 0.4375rem;
        text-align: left;
        text-decoration: none !important;
        color: darken($portal-blue, 15%);
        width: 100%;

        & > .fa { margin-right: 0.5rem; }
          
      }

    }

  }
  
  .pns-sidebar-legal {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: legal;
  }
  