.pns-grid-topbar {

    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: topbar;
    -ms-grid-columns: 14rem 1fr 2.75rem 15rem;
    -ms-grid-rows: 1fr;
    grid-template-columns: 14rem 1fr 2.75rem 15rem;
    grid-template-rows: 100%;
    grid-template-areas: "logo search alert account";
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0px 0px 10px #dbdbdb;
    z-index: 100;

    > * { margin: 0 0.25rem; }
    > div:first-child { margin-left: 0.5rem; }
    > div:last-child { margin-right: 1rem; }

    #logo {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: logo;
        margin-right: 20px;
        background: url('/img/PNS-portal-logo-blue.svg') center left no-repeat ;
    }
    #alert {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: search;
        margin-left: 0px;
        line-height: 2;
        border-radius: $portal-border-radius;
        background: $portal-warning-light;
        border: $portal-border-width solid $portal-warning;
    }
    #notification {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        grid-area: alert;
        border-radius: $portal-border-radius;
        line-height: 2rem;
        border: $portal-border-width solid $portal-input-color;
        color: $portal-input-color;
    }
    #account {
        display: -ms-grid;
        display: grid;
        -ms-grid-row: 1;
        -ms-grid-column: 4;
        grid-area: account;
        -ms-grid-columns: 2.25rem 1fr;
        -ms-grid-rows: 1fr;
        grid-template-columns: 2.25rem 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "account-label account-name";
        border: $portal-border-width solid $portal-input-color;
        border-radius: $portal-border-radius;
        overflow: hidden;

        #label {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            grid-area: account-label;
            line-height: 2rem;
            background: $portal-input-color;
            color: white;
        }

        #name {
            position: relative;
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            grid-area: account-name;
            padding: 0 0.5rem;
            line-height: 2.125rem;
            overflow: hidden;
            color: $portal-blue-link;
        }
        
        #name::after {
            display: block;
            content: '';
            width: 2rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
        }

    }

  }
  