// Portal variables for inclusion in any file you need them.
// see: _portal-overrides.scss

//
// Typography, fonts, etc
//

$portal-font-base:      16px !default; // Sets px on <body>. 1rem = 16px
$portal-line-height:    1.5;
$portal-font-size:      1rem !default; // ALL font sizes wshould be based on this
$portal-font-size-lg:   1.25rem !default;
$portal-font-size-sm:   .875rem !default;
$portal-font-family:    "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$portal-h1-size:        $portal-font-size * 2.5 !default;
$portal-h2-size:        $portal-font-size * 2 !default;
$portal-h3-size:        $portal-font-size * 1.75 !default;
$portal-h4-size:        $portal-font-base * 1.5 !default;
$portal-h5-size:        $portal-font-base * 1.25 !default;
$portal-h6-size:        $portal-font-base !default;

//
// Forms
//



//
// Colors
//

$portal-gray-1: rgb(117,117,117) !default;
$portal-gray-2: rgb(168,168,168) !default;
$portal-gray-3: rgb(201,201,201) !default;
$portal-gray-4: rgb(219,219,219) !default;
$portal-gray-5: rgb(245,245,245) !default;
$portal-gray-menu: rgb(239,243,243) !default;

$portal-input-color: $portal-gray-3 !default;

$portal-blue: rgb(29,173,186);
$portal-blue-light: rgb(178,232,237);
$portal-blue-link: rgb(51,145,242);

$portal-error: rgb(229, 66, 66);
$portal-error-light: rgb(244, 208, 208);

$portal-success: rgb(119, 216, 149);
$portal-success-light: rgb(200, 247, 214);

$portal-warning: rgb(202,173,25);
$portal-warning-light:  rgb(245,233,168);


//
// Spacing, padding, margins etc.
//

$portal-sidebar-width: 14rem;
// $portal-view-padding: 0.5rem;
$portal-topbar-height: 4.26rem;
$portal-module-header-height: 3rem;
// $portal-topbar-spacer: 1rem + $portal-topbar-height;
// $portal-small-alert-height: 2rem;
$portal-border-width: 1px;

//
// Border radius
//

$portal-border-radius:      0.25rem;
$portal-border-radius-lg:   $portal-border-radius + 0.05rem;
$portal-border-radius-sm:   $portal-border-radius - 0.05rem;

// @import "portal-variable-overrides";

/*# sourceURL=_portal-variables.scss */
